version: "3.9"
services: 
    cea-os:
        build: . #builds image from Dockerfile in current directory

    influxdb:
        image: influxdb
        ports:
            - 8086:8086 #influxdb port
        #### Optional items: ####
        container_name: influxdb:1.8
        restart: always #if something happpens in container, it can start automatically
        networks:
            - grafana_network #make sure the same as grafana container
        volumes: #do we want persistent volumes?
            - influxdb_data:/var/lib/influxdb #create Docker volume called "influxdb_data"
        environment:
            - INFLUXDB_DB=grafana #creates a database when we create container
            - INFLUXDB_USER=grafana #creates a user called "grafana"
            - INFLUXDB_USER_PASSWORD=password
            - INFLUXDB_ADMIN_ENABLED=true
            - INFLUXDB_ADMIN_USER=admin
            - INFLUXDB_ADMIN_PASSWORD=password
    
    grafana: 
        image: grafana/grafana
        ports:
            - 3000:3000 #grafana port
        #### Optional items: ####
        container_name: grafana
        restart: always
        networks: 
            - grafana_network #use for influxdb, same network
        volumes: #do we want persistent volumes?
            - grafana_data:/var/lib/grafana #create Docker volume called "grafana_data"
        depends_on:
            - influxdb

networks:
    grafana_network:
volumes:
    grafana_data:
    influxdb_data:

#### OTHER NOTES:
    # Default Grafana u: admin p: admin (then set a new PW)
    # Next step would be to connect to datasource (InfluxDB)
    # Tutorial used: https://www.youtube.com/watch?v=rRKDfU4tmJQ
